﻿@model IEnumerable<WebApplication1.Models.Ticket>
@{
    ViewBag.Title = "DisplayTickets";
}

<h2>My reserved tickets</h2>

<form method="post" action="~/User/FilterTickets">
    Manifestation:  <input type="text" class="search" name="ManifestationName" />
    <br />
    Cost:
    <br />
    From:<input type="number" min="0" step=".01" name="costLower" value="0" />
    To:<input type="text" min="0" step=".01" name="costHigher" value="0" />
    <br />
    Date:
    <br />
    From:<input type="date" name="dateLower" />
    To:<input type="date" name="dateHigher" />
    <br />
    <br />

    Status:
    <input list="Status" name="Status" />
    <datalist id="Status">
        <option value="Forfeit"></option>
        <option value="Reserved"></option>
        <option value="All"></option>
    </datalist>
    <br />

    <input type="submit" value="Filter" />
</form>
<br />
<br />

<table border="1">
    <tr>
        <th>Ticket status</th>
        <th>Manifestation</th>
        <th>Manifestation type</th>
        <th>Time</th>
        <th>Place</th>
        <th>Geo location</th>
        <th>Cost</th>
        <th>Ticket type</th>
        <th>Customer name</th>
        <th>Customer lastname</th>
        <th>&nbsp;</th>

    </tr>
    @{
        foreach (WebApplication1.Models.Ticket ticket in Model)
        {
            if (ticket.Manifestation.Active == false)
            {
                continue;
            }

        <tr>
            <td>@ticket.Status</td>
            <td>@ticket.Manifestation.Name</td>
            <td>@ticket.Manifestation.Type.ToString()</td>
            <td>@ticket.Manifestation.EventTime</td>
            <td>
                @ticket.Manifestation.Location.Place.ZipCode
                <br />
                @ticket.Manifestation.Location.Place.Town
                <br />
                @ticket.Manifestation.Location.Place.Street
            </td>
            <td>
                @ticket.Manifestation.Location.GeoHeight
                <br />
                @ticket.Manifestation.Location.GeoWidht
            </td>
            <td>@ticket.Cost</td>
            <td>@ticket.Type.ToString()</td>
            <td>@ticket.CustomerName</td>
            <td>@ticket.CustomerLastname</td>
            <td>
                <form method="post" action="~/User/ForfeitTicket">
                    <input type="submit" value="Forfeit" />
                    <input type="hidden" name="ticketId" value="@ticket.Id" />
                </form>
            </td>
        </tr>
        }
    }
</table>
