﻿@model WebApplication1.Models.User
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3>Your account type is @Model.Type.Name</h3>
<h4>You have @Model.Points points</h4>

<form action="Change" method="post">
    <table>
        <tr>
            <td>Password:</td>
            <td><input type="text" name="Password" value="@Model.Password" /></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="Name" value="@Model.Name" /></td>
        </tr>

        <tr>
            <td>Lastname:</td>
            <td><input type="text" name="Lastname" value="@Model.Lastname" /></td>
        </tr>
        <tr>
            <td>Date of birth:</td>
            <td><input type="date" name="DateOfBirth" value="@Model.DateOfBirth.ToString("yyyy-MM-dd")" /></td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>
                <input list="gender" name="Gender" value="@Model.Gender" />
                <datalist id="gender">
                    <option value="Male"></option>
                    <option value="Female"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Confirm" />
                <input type="hidden" name="Username" value="@Model.Username" />
            </td>
        </tr>
    </table>
</form>
<a href="~/Home/Index">Back</a>