﻿@model List<string>
@{
    ViewBag.Title = "ManifestationsError";
}

<h2>Error changing user</h2>

@foreach (string error in Model)
{
    <h3 style="color:red">@error</h3>
}

<a href="~/User/Index">Back</a>