﻿<!DOCTYPE html>
<html>
<head>
    <style type="text/css">


        input[type=text] {
            padding: 8px 12px;
            margin: 8px 0;
            box-sizing: padding-box;
        }

        input[type=submit] {
            font-weight: bold;
            font-style: italic;
            cursor: pointer;
            background-color: #ff6a00;
        }

        .search {
            width: 20%;
            transition: width 0.4s ease-in-out;
        }

        .search:focus {
            width: 100%;
        }

        input[type=password] {
            width: 100%;
            padding: 4px 4px;
            margin: 6px 2px;
            box-sizing: padding-box;
        }

        table {
            border: 0px;
        }

        th, td {
            border: 1px ridge;
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        th {
            background-color: #ff6a00;
        }
    </style>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Party Wild", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Manifestations", "Index", "Manifestations")</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
