﻿@model WebApplication1.Models.Manifestation
@{
    ViewBag.Title = "ChangeManifestation";
}

<h2>Change Manifestation details</h2>

<form action="EditManifestation" method="post">
    <table>
        <tr>
            <td>Type:</td>
            <td>
                <input list="Type" name="Type" value="@Model.Type" />
                <datalist id="Type">
                    <option value="Concert"></option>
                    <option value="Festival"></option>
                    <option value="Cinema"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>Number of  regular seats:</td>
            <td><input type="number" step="1" min="0" name="RegularSeats" /></td>
        </tr>
        <tr>
            <td>Number of  fan pit seats:</td>
            <td><input type="number" step="1" min="0" name="FanPitSeats" /></td>
        </tr>
        <tr>
            <td>Number of  vip seats:</td>
            <td><input type="number" step="1" min="0" name="VipSeats" /></td>
        </tr>
        <tr>
            <td>Price for regular ticker:</td>
            <td><input type="text" name="RegularCost" value="@Model.RegularCost" /></td>
        </tr>
        <tr>
            <td>Zip Code:</td>
            <td><input type="text" name="ZipCode" value="@Model.Location.Place.ZipCode" /></td>
        </tr>
        <tr>
            <td>Town:</td>
            <td><input type="text" name="Town" value="@Model.Location.Place.Town" /></td>
        </tr>
        <tr>
            <td>GeoWidht:</td>
            <td><input type="text" name="GeoWidht" value="@Model.Location.GeoWidht" /></td>
        </tr>
        <tr>
            <td>GeoHeight:</td>
            <td><input type="text" name="GeoHeight" value="@Model.Location.GeoHeight" /></td>
        </tr>
        <tr>
            <td>Street:</td>
            <td><input type="text" name="Street" value="@Model.Location.Place.Street" /></td>
        </tr>
        <tr>
            <td>Date:</td>
            <td><input type="date" name="EventTime" value="@Model.EventTime.ToString("yyyy-MM-dd")" /></td>
        </tr>
        <tr>
            <td>Time:</td>
            <td><input type="time" name="Time" value="@Model.EventTime.TimeOfDay" /></td>
        </tr>
        <tr>
            <td>
                <label for="imgPath">Choose manifestaion poster:</label>
                <input type="file" id="imgPath" name="imgPath" accept="image/*"><br><br>
                <input type="hidden" name="OldPath" value="@Model.ImagePath" />
            </td>
        </tr>

        <tr>
            <td colspan="3">
                <input type="submit" value="Edit" />
                <input type="hidden" name="Name" value="@Model.Name" />
            </td>
        </tr>

    </table>
</form>
<a href="~/Manifestations/DisplayManifestations">Back</a>