﻿@model WebApplication1.ViewModels.TickerCreationViewModel
@{
    ViewBag.Title = "Checkout";
}

<h1>Checkout</h1>

@{
    double discount = (1 - Model.User.Type.Discount) * 100;
    int points = Model.Manifestation.RewardPoints(Model.Count, Model.TicketType);
}

<h1>Confirm purchase of ticket for event @Model.Manifestation.Name</h1>
<h3>With an @Model.User.Type.Name account, you have  @discount % discount.  </h3>
<h3>Purchasing this ticket will reward you with @points points.</h3>
<h3>Total cost for @Model.Count @Model.TicketType ticket is @Model.TotalCost </h3>


<form method="post" action="~/Manifestations/ConfirmPurchase">
    <input type="submit" value="Confirm" />
    <input type="hidden" name="Count" value="@Model.Count" />
    <input type="hidden" name="ManifestationName" value="@Model.Manifestation.Name" />
    <input type="hidden" name="Type" value="@Model.TicketType.ToString()" />
    <input type="hidden" name="TotalCost" value="@Model.TotalCost" />
    <input type="hidden" name="UserName" value="@Model.User.Name" />
</form>
<br />
<a href="~/Manifestations/Index">Cancel</a>
