﻿@model WebApplication1.ViewModels.CommentsViewModel
@{
    ViewBag.Title = "Comments";
}

<h2>Comments for manifestation @Model.Manifestation.Name</h2>

@{
    if (Model.Manifestation.EventTime > DateTime.Now)
    {
        <h3>Comments will be enabled after manifestation is held!</h3>
    }
    else
    {
        <table>

            @foreach (WebApplication1.Models.Comment comment in Model.Manifestation.Comments)
            {
                if (comment.Active || (Model.User != null && Model.User.Role != WebApplication1.Models.Role.Customer))
                {
                    <tr>
                        <td>
                            @comment.User.Username :
                        </td>
                        <td style="text-align:left"><div style="height:90px;width:300px;overflow:auto">@comment.Text</div></td>
                        <td>
                            Score: @comment.Score
                        </td>
                        @if (Model.User != null && Model.User.Role != WebApplication1.Models.Role.Customer)
                        {
                            <td>
                                Allowed: @comment.Active
                            </td>
                            <td>
                                <form method="post" action="~/Manifestations/ChangeComment">
                                    <input type="hidden" name="Name" value="@Model.Manifestation.Name" />
                                    <input type="hidden" name="Username" value="@comment.User.Username" />
                                    <input type="submit" value="Change" />
                                </form>
                            </td>
                        }
                    </tr>
                }
            }
        </table>
        bool canComment = false;
        if ((Model.User != null && Model.User.Role == WebApplication1.Models.Role.Customer) //ulogovan kupac
            && Model.User.Tickets.Exists(x => x.Manifestation.Name == Model.Manifestation.Name 
                && x.Status == WebApplication1.Models.TicketStatus.Reserved) //koji ima kartu za ovo
            && !Model.Manifestation.Comments.Exists(x => x.User.Username == Model.User.Username)) //i nije vec ostavio komentar
        {
            canComment = true;
        }
        if (canComment)
        {
            <form method="post" action="~/Manifestations/PostComment">
                <h4>Post your comment:</h4>
                <textarea id="newComment" name="newComment" rows="4" cols="50">...</textarea>
                <br />
                <br />
                <input list="score" name="score" />
                <datalist id="score">
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                    <option value="4"></option>
                    <option value="5"></option>
                </datalist>
                <br />
                <br />
                <input type="submit" value="Submit" />
                <input type="hidden" name="Name" value="@Model.Manifestation.Name" />
            </form>
        }
    }
}

<a href="~/Manifestations/Index">Back</a>

