﻿
@{
    ViewBag.Title = "CreateManifestation";
}

<h2>Organise a manifestation</h2>

<form method="post" action="SubmitManifestation">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="Name" /></td>
        </tr>
        <tr>
            <td>Type:</td>
            <td>
                <input list="Type" name="Type" />
                <datalist id="Type">
                    <option value="Concert"></option>
                    <option value="Festival"></option>
                    <option value="Cinema"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>Number of  regular seats:</td>
            <td><input type="number" step="1" min="0" name="RegularSeats" /></td>
        </tr>
        <tr>
            <td>Number of  fan pit seats:</td>
            <td><input type="number" step="1" min="0" name="FanPitSeats" /></td>
        </tr>
        <tr>
            <td>Number of  vip seats:</td>
            <td><input type="number" step="1" min="0" name="VipSeats" /></td>
        </tr>
        <tr>
            <td>Price for regular ticker:</td>
            <td><input type="number" min="0" step="0.01" name="RegularCost" /></td>
        </tr>
        <tr>
            <td>Zip Code:</td>
            <td><input type="text" name="ZipCode" /></td>
        </tr>
        <tr>
            <td>Town:</td>
            <td><input type="text" name="Town" /></td>
        </tr>
        <tr>
            <td>GeoWidht:</td>
            <td><input type="text" name="GeoWidht" /></td>
        </tr>
        <tr>
            <td>GeoHeight:</td>
            <td><input type="text" name="GeoHeight" /></td>
        </tr>
        <tr>
            <td>Street:</td>
            <td><input type="text" name="Street" /></td>
        </tr>
        <tr>
            <td>Date:</td>
            <td><input type="date" name="EventTime" /></td>
        </tr>
        <tr>
            <td>Time:</td>
            <td><input type="time" name="Time" /></td>
        </tr>
        <tr>
            <td>
                <label for="imgPath">Choose manifestaion poster:</label>
                <input type="file" id="imgPath" name="imgPath" accept="image/*"><br><br>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" value="Create" />
            </td>
        </tr>

    </table>
</form>
<a href="~/Manifestations/Index">Back</a>