﻿@model WebApplication1.Models.Manifestation
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<form method="post" action="ReserveTicket">
    @{
        string imgPath = "~/Images/" + Model.ImagePath;
        string address = Model.Location.Place.Town + " " + Model.Location.Place.Street +
            string.Format("({0}:{1})", Model.Location.GeoWidht, Model.Location.GeoHeight);
        double? grade = Model.AverageGrade();
        string gradeMsg;
        if (grade is null)
        {
            gradeMsg = "TBD";
        }
        else
        {
            gradeMsg = grade.ToString();
        }
    }
    <table>
        <tr>
            <td>Name:</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Event type:</td>
            <td>@Model.Type.ToString()</td>
        </tr>
        <tr>
            <td>Score:</td>
            <td>@gradeMsg</td>
        </tr>
        
        <tr>
            <td>Unreserved regular seats:</td>
            <td>@Model.RegularSeats</td>
        </tr>
        <tr>
            <td>Unreserved fan pit seats:</td>
            <td>@Model.FanPitSeats</td>
        </tr>
        <tr>
            <td>Unreserved vip seats:</td>
            <td>@Model.VipSeats</td>
        </tr>
        <tr>
            <td>Manifestation time:</td>
            <td>@Model.EventTime</td>
        </tr>
        <tr>
            <td>Ticket cost:</td>
            <td>@Model.RegularCost</td>
        </tr>
        <tr>
            <td>Location:</td>
            <td>@address</td>
        </tr>
        <tr>
            <td><img src=@Url.Content(imgPath) alt="Cannot display image." style="width:200px;height:200px;"></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Reserve" />
                <input type="hidden" name="Name" value="@Model.Name" />
            </td>
        </tr>
    </table>
</form>


<form method="get" action="~/Manifestations/Comments">
    <input type="submit" value="Comments" />
    <input type="hidden" name="Name" value="@Model.Name" />
</form>


<form method="get" action="~/Manifestations/Index">
    <input type="submit" value="Back" />
</form>
