﻿@model IEnumerable<WebApplication1.Models.Manifestation>
@{
    ViewBag.Title = "DisplayManifestations";
}

<h2>My organised manifestations</h2>
<table border="1">
    <tr>
        <th>Manifestation</th>
        <th>Manifestation type</th>
        <th>Time</th>
        <th>Place</th>
        <th>Geo location</th>
        <th>Cost</th>
        <th>Remaining seats</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    @{
        foreach (WebApplication1.Models.Manifestation manif in Model)
        {
            string imagePath  = "~/Images/" + manif.ImagePath;
    <tr>
        <td>@manif.Name</td>
        <td>@manif.Type.ToString()</td>
        <td>@manif.EventTime</td>
        <td>
            @manif.Location.Place.ZipCode
            <br />
            @manif.Location.Place.Town
            <br />
            @manif.Location.Place.Street
        </td>
        <td>
            @manif.Location.GeoHeight
            <br />
            @manif.Location.GeoWidht
        </td>
        <td>@manif.RegularCost</td>
        <td>@manif.SeatCount</td>
        <td><img src=@Url.Content(imagePath) alt="Cannot display image." style="width:125px;height:125px;"></td>
        <td>
            <form method="post" action="~/Manifestations/TicketsForManifestation">
                <input type="submit" value="Show brought tickets" />
                <input type="hidden" name="Name" value="@manif.Name" />
            </form>
        </td>
        <td>
            <form method="post" action="~/Manifestations/ChangeManifestation">
                <input type="submit" value="Change details" />
                <input type="hidden" name="Name" value="@manif.Name" />
            </form>
        </td>
    </tr>

        }
    }
</table>
