﻿@model IEnumerable<WebApplication1.Models.Manifestation>
@{
    ViewBag.Title = "Index";
}

<h2>Browse manifestations</h2>


<form method="post" action="~/Manifestations/FilterManifestations">
    Manifestation:  <input type="text" class="search" name="ManifestationName" />
    <br />

    Town:  <input type="text" class="search" name="Town" />
    <br />
    Cost:
    <br />
    From:<input type="number" min="0" step=".01" name="costLower" value="0" />
    To:<input type="text" min="0" step=".01" name="costHigher" value="0" />
    <br />
    Date:
    <br />
    From:<input type="date" name="dateLower" />
    To:<input type="date" name="dateHigher" />


    <br />
    <br />
    Type:
    <input list="Type" name="Type" />
    <datalist id="Type">
        <option value="Cinema"></option>
        <option value="Concert"></option>
        <option value="Festival"></option>
    </datalist>

    <br />
    <br />
    Has seats:
    <input type="checkbox" name="Seats" value="True" />

    <br />
    <input type="submit" value="Filter" />
</form>
<br />
<br />


Sort:

<form method="get" action="~/Manifestations/SortName">
    <input type="submit" value="Name" />
</form>

<form method="get" action="~/Manifestations/SortTime">
    <input type="submit" value="Time" />
</form>

<form method="get" action="~/Manifestations/SortCost">
    <input type="submit" value="Cost" />
</form>

<form method="get" action="~/Manifestations/SortLocation">
    <input type="submit" value="Town" />
</form>

<br />



<table border="1">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Number of seats</th>
        <th>Date and time</th>
        <th>Ticket cost</th>
        <th>Zip Code</th>
        <th>Address</th>
        <th>Average Grade</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    @foreach (WebApplication1.Models.Manifestation manif in Model)
    {
        if (manif.Active == false)
        {
            continue;
        }
        double? grade = manif.AverageGrade();
        string gradeMsg, imagePath = "~/Images/" + manif.ImagePath;
        if (grade is null)
        {
            gradeMsg = "TBD";
        }
        else
        {
            gradeMsg = grade.ToString();
        }
        <tr>
            <td>@manif.Name</td>
            <td>@manif.Type.ToString()</td>
            <td>@manif.SeatCount</td>
            <td>@manif.EventTime</td>
            <td>@manif.RegularCost</td>
            <td>@manif.Location.Place.ZipCode</td>
            <td>@string.Format(@manif.Location.Place.Town + " " + @manif.Location.Place.Street)</td>
            <td>@gradeMsg</td>
            <td><img src=@Url.Content(imagePath) alt="Cannot display image." style="width:125px;height:125px;"></td>
            <td>
                <form method="post" action="~/Manifestations/Details">
                    <input type="submit" value="Details" />
                    <input type="hidden" name="Name" value="@manif.Name" />
                </form>
            </td>
        </tr>
    }

</table>
