﻿@model List<string>
@{
    ViewBag.Title = "ManifestationsError";
}

<h2>Greška pri registraciji manifestacije</h2>

@foreach (string error in Model)
{
    <h3 style="color:red">@error</h3>
}

<a href="~/Manifestations/CreateManifestation">Nazad</a>