﻿@model WebApplication1.ViewModels.TickerCreationViewModel
@{
    ViewBag.Title = "ReserveTicket";
}


<h1>Confirm purchase of ticket for event @Model.Manifestation.Name</h1>

<form method="post" action="Checkout">
    @{
        double regularCost = Model.Manifestation.RegularCost * Model.User.Type.Discount;
        double VIPCost = Model.Manifestation.VipCost * Model.User.Type.Discount;
        double PitCost = Model.Manifestation.PitCost * Model.User.Type.Discount;
    }
    Regular Cost: @Model.Manifestation.RegularCost
    <br>
    VIP Cost: @VIPCost
    <br>
    Fan Pit Cost: @PitCost
    <br>
    Regular seats : @Model.Manifestation.RegularSeats
    <br />
    Fan pit seats : @Model.Manifestation.FanPitSeats
    <br />
    Vip seats : @Model.Manifestation.VipSeats
    <br />


    Number of tickets:
    <input type="number" name="Count" value="1" min="1"/>
    <br />
    <input list="Type" name="Type" />
    <datalist id="Type">
        <option value="REGULAR"></option>
        <option value="VIP"></option>
        <option value="FANPIT"></option>
    </datalist>

    <br>
    <input type="submit" value="Checkout" />
    <input type="hidden" name="ManifestationName" value="@Model.Manifestation.Name" />
    <input type="hidden" name="UserName" value="@Model.User.Name" />
</form>

<a href="~/Manifestations/Index">Cancel</a>