﻿@model IEnumerable<WebApplication1.Models.Ticket>
@{
    ViewBag.Title = "Manifestations tickets";
}

<table border="1">
    <tr>
        <th>Manifestation</th>
        <th>Manifestation type</th>
        <th>Time</th>
        <th>Place</th>
        <th>Geo location</th>
        <th>Cost</th>
        <th>Ticket type</th>
        <th>Customer name</th>
        <th>Customer lastname</th>

    </tr>
    @{
        foreach (WebApplication1.Models.Ticket ticket in Model)
        {
            if (ticket.Status != WebApplication1.Models.TicketStatus.Reserved)
            {
                continue;
            }

            <tr>
                <td>@ticket.Manifestation.Name</td>
                <td>@ticket.Manifestation.Type.ToString()</td>
                <td>@ticket.Manifestation.EventTime</td>
                <td>
                    @ticket.Manifestation.Location.Place.ZipCode
                    <br />
                    @ticket.Manifestation.Location.Place.Town
                    <br />
                    @ticket.Manifestation.Location.Place.Street
                </td>
                <td>
                    @ticket.Manifestation.Location.GeoHeight
                    <br />
                    @ticket.Manifestation.Location.GeoWidht
                </td>
                <td>@ticket.Cost</td>
                <td>@ticket.Type.ToString()</td>
                <td>@ticket.CustomerName</td>
                <td>@ticket.CustomerLastname</td>
            </tr>
        }
    }
</table>