﻿@model IEnumerable<WebApplication1.Models.Manifestation>
@{
    ViewBag.Title = "Admin Manifestations";
}

<h2>Browse manifestations</h2>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Number of seats</th>
        <th>Date and time</th>
        <th>Ticket cost</th>
        <th>Zip Code</th>
        <th>Address</th>
        <th>Average Grade</th>
        <th>Allowed</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>
    @foreach (WebApplication1.Models.Manifestation manif in Model)
    {
        double? grade = manif.AverageGrade();
        string gradeMsg, imagePath = "~/Images/" + manif.ImagePath;
        if (grade is null)
        {
            gradeMsg = "TBD";
        }
        else
        {
            gradeMsg = grade.ToString();
        }
    <tr>
        <td>@manif.Name</td>
        <td>@manif.Type.ToString()</td>
        <td>@manif.SeatCount</td>
        <td>@manif.EventTime</td>
        <td>@manif.RegularCost</td>
        <td>@manif.Location.Place.ZipCode</td>
        <td>@string.Format(@manif.Location.Place.Town + " " + @manif.Location.Place.Street)</td>
        <td>@gradeMsg</td>
        <td>@manif.Active</td>
        <td><img src=@Url.Content(imagePath) alt="Cannot display image." style="width:125px;height:125px;"></td>
        <td>
            <form method="post" action="~/Admin/ChangeManifestation">
                <input type="hidden" value="@manif.Name" name="Name" />
                <input type="submit" value="Change" />
            </form>
        </td>
        <td>
            <form method="post" action="~/Manifestations/Details">
                <input type="submit" value="Details" />
                <input type="hidden" name="Name" value="@manif.Name" />
            </form>
        </td>
    </tr>
    }

</table>