﻿@model IEnumerable<WebApplication1.Models.User>
@{
    ViewBag.Title = "Index";
}

<h2>Account managment</h2>

<form method="post" action="~/Admin/FilterUsers">
    Username:  <input type="text" class="search" name="Username" />
    <br />
    Name:  <input type="text" class="search"  name="Name" />
    <br />
    Lastname:  <input type="text" class="search"  name="Lastname" />
    <br />
    <br />
    Role:
    <input list="UserRole" name="UserRole" />
    <datalist id="UserRole">
        <option value="Customer"></option>
        <option value="Organiser"></option>
    </datalist>
    <br />
    <br />
    Type:
    <input list="Type" name="Type" />
    <datalist id="Type">
        @{
            foreach (var type in WebApplication1.Models.DefinedUserTypes.Instance().UserTypes)
            {
                <option value="@type.Name"></option>
            }
        }
    </datalist>

    <input type="submit" value="Filter" />
</form>
<br />
<br />

Sort:

<form method="get" action="~/Admin/SortUsername">
    <input type="submit" value="Username" />
</form>

<form method="get" action="~/Admin/SortName">
    <input type="submit" value="Name" />
</form>

<form method="get" action="~/Admin/SortLastname">
    <input type="submit" value="Lastname" />
</form>


<form method="get" action="~/Admin/SortPoints">
    <input type="submit" value="Points" />
</form>


<br />
<br />


<table border="1">
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Gender</th>
        <th>Date of birth</th>
        <th>Role</th>
        <th>Points</th>
        <th>Type</th>
        <th>Active account</th>
        <th>&nbsp;</th>
    </tr>
    @foreach (WebApplication1.Models.User user in Model)
    {
        if (user.Role == WebApplication1.Models.Role.Admin)
        {
            continue;
        }
        <tr>
            <td>@user.Username</td>
            <td>@user.Password</td>
            <td>@user.Name</td>
            <td>@user.Lastname</td>
            <td>@user.Gender</td>
            <td>@user.DateOfBirth.ToString("dd/MM/yyyy")</td>
            <td>@user.Role</td>
            <td>@user.Points</td>
            <td>@user.Type</td>
            <td>@user.Active </td>
            <td>
                <form method="post" action="~/Admin/DeleteOrRestoreUser">
                    <input type="submit" value="Change">
                    <input type="hidden" name="username" value="@user.Username" />
                </form>
            </td>

        </tr>
    }

</table>