﻿@model WebApplication1.Models.User
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>


<div>
    @ViewBag.Message
</div>


<form action="Register" method="post">
    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" name="username" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name" /></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input type="text" name="lastName" /></td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>
                <input list="gender" name="gender" />
                <datalist id="gender">
                    <option value="Male"></option>
                    <option value="Female"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>Date of birth:</td>
            <td><input type="date" name="date" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Register" />
            </td>
        </tr>
    </table>
</form>
