﻿@model WebApplication1.Models.User
@{
    ViewBag.Title = "Home Page";
}

<form method="get" action="~/Manifestations/Index">
    <input type="submit" value="Browse manifestations">
</form>

@if (Model.Role == WebApplication1.Models.Role.Admin)
{
    <form method="get" action="~/Admin/Index">
        <input type="submit" value="Admin manage users">
    </form>

    <form method="get" action="~/Admin/CreateOrganiser">
        <input type="submit" value="Admin register organiser account">
    </form>


}
else if (Model.Role == WebApplication1.Models.Role.Organiser)
{
    <form method="get" action="~/Manifestations/CreateManifestation">
        <input type="submit" value="Organise a new manifestation">
    </form>

    <form method="get" action="~/Manifestations/DisplayManifestations">
        <input type="submit" value="List my manifestations">
    </form>
}
else if (Model.Role == WebApplication1.Models.Role.Customer)
{
    <form method="get" action="~/User/DisplayTickets">
        <input type="submit" value="See my reservations">
    </form>
}

<form method="get" action="~/User/Index">
    <input type="submit" value="Change account info">
</form>

<a href="~/Authentication/LogOut">Log out</a>

